.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.russia {
  background-image: url('./components/img/russian-flag.jpg');
  background-size: cover;
  width: 385px;
  height: 240px;
}

.globus {
  background-image: url('./components/img/globus.svg');
  background-size: cover;
  width: 300px;
  height: 300px;
}

.selection {
  /* margin-top: 150px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background-color: grey;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

nav {
  width: 100%;
}
